<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iti.android.tripapp">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.splash_mvp.SplashActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WalkThroughActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Sample AdMob App ID: ca-app-pub-3894715747861785/9089188003-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3894715747861785~1513826605"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeYHDhDctqGmb5APIdyWrd-imDO2DkQHc" />
        <!-- AIzaSyBLJv51oC0sfDw418dpUs2vu7xT4tMezyw  AIzaSyBLPdtvo4KoNgMDdVYXcCtJOpM8yvkuSCQ -->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyBLJv51oC0sfDw418dpUs2vu7xT4tMezyw" />-->

        <activity android:name=".ui.login_mvp.SignInActivity"
            android:label="@string/SIGNIN"/>
        <activity android:name=".ui.register_mvp.RegisterActivity"
            android:label="@string/register"/>
        <activity android:name=".ui.add_trip_mvp.AddTripActivity"
            android:label="Add Trip"
            android:parentActivityName=".ui.main_mvp.MainActivity"
            />

        <receiver
            android:name=".services.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.alarm_mvp.AlarmActivity"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.main_mvp.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>

        <service
            android:name=".services.FloatingIconService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.BackgroundSoundService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>